@font-face {
    font-family: 'Ruberoid';
    src: local('Ruberoid Medium'), local('Ruberoid-Medium'),
        url('Ruberoid-Medium.woff2') format('woff2'),
        url('Ruberoid-Medium.woff') format('woff'),
        url('Ruberoid-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }