<section class="hero section overlay">
  <h1 class="hero-title">Разработка сайтов</h1>
  <h2 class="hero-title__secondary">для твоего бизнеса</h2>
  <p class="hero-text">
    Мы - студия web-разработки, работаем уже более 3-х лет<span
      class="hero-text__mobil"
      >, готовы разработать для вас сайт в кротчайшие сроки.</span
    >
  </p>
  <div class="hero-container">
    <button type="button" class="button button-svg hero-button">
      <span class="button-label">Подробнее</span>
    </button>
    <p class="hero-question">Остались вопросы?</p>
  </div>
  <img class="circles" src="/src/images/circles.png" alt="hero" />
  <img class="hero-img" src="/src/images/hero.png" alt="hero" />
  <img class="circles-mobile" src="/src/images/circles-mobile.png" alt="hero" />
  <img class="hero-img-mobile" src="/src/images/hero-mobile.png" alt="hero" />
  <div class="decor-line">
    <div class="line-vertical"></div>
    <div class="slider-text primary slider-text__hero-first">01</div>
    <div class="slider-wrapper primary slider-wrapper__hero-first"></div>
    <div class="slider primary slider__hero-first"></div>
    <div class="slider-text slider-text__hero-second">02</div>
    <div class="slider-wrapper slider-wrapper__hero-second"></div>
    <div class="slider slider__hero-second"></div>
    <div class="slider-text slider-text__hero-third">03</div>
    <div class="slider-wrapper slider-wrapper__hero-third"></div>
    <div class="slider slider__hero-third"></div>
    <div class="slider-text slider-text__hero-fourth">04</div>
    <div class="slider-wrapper slider-wrapper__hero-fourth"></div>
    <div class="slider slider__hero-fourth"></div>
    <div class="slider-text slider-text__hero-fifth">05</div>
    <div class="slider-wrapper slider-wrapper__hero-fifth"></div>
    <div class="slider slider__hero-fifth"></div>
  </div>
  <div class="line-horizontal"></div>
</section>
